@page "/counter"
@using Microsoft.AspNetCore.SignalR.Client


<h1>@count</h1>
<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int count = 0;

    private async void IncrementCount()
    {
        count++;
    }
}